.title {
  display: flex;
  justify-content: center;
  color: #a1a11d82;
}

.logo {
  display: flex;
  justify-content: center;
}

.box {
  height: max-content;
  min-height: 100vh;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.box textarea {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0%;
  padding: 10px;
  padding-top: 30px;
  border: 1px solid rgb(12, 0, 0);
  color: black;
}

.box button {
  border: 1px solid rgb(12, 0, 0);
}

.box button:hover {
  transform: scale(1.2);
}


@media (max-width: 600px) {
  .box textarea{
    width: fit-content;
  }

  .box button{
    display: flex;
    justify-content: center;
  }
}