.box {
  display: flex;
  justify-content: center;
  border: #21210382;
  box-shadow: #21210382;
}

.logo {
  display: flex;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
  color: #a1a11d82;
}
